[defaults]
inventory = inventory.gcp.yml
host_key_checking = False
private_key_file = ~/.ssh/google_compute_engine
remote_user = nhannhutnhat2201_gmail_com

[inventory]
enable_plugins = google.cloud.gcp_compute, ini
